* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #13472E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: #D09632;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #13472E;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.x::before {
    content: "X";
    color: #92B19F;
    font-size: 3rem;
}

.cell.circle::before {
    content: "O";
    color: #92B19F;
    font-size: 3rem;
}

.winning-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.winning-message.show {
    display: flex;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D09632;
    color: #13472E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }

    .cell {
        width: 80px;
        height: 80px;
    }

    .cell.x::before, .cell.circle::before {
        font-size: 2.5rem;
    }
}
#image{
    width: 30vw;
    aspect-ratio: 2/1;
    position: absolute;
    left: 40px;
    top: 20px;
}